<app-header></app-header>

<mat-sidenav-container class="h-screen pt-16">

  <!-- Sidebar -->
  <mat-sidenav
    #drawer
    [mode]="isMobile ? 'over' : 'side'"
    [opened]="!isMobile"
    class="bg-indigo-600 text-white w-60"
  >
    <app-sidebar [role]="'admin'"></app-sidebar>
  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content>
    <main class="p-6 bg-gray-100 h-full overflow-auto">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>

</mat-sidenav-container>
