<div class="p-6">
  <div class="flex justify-between items-center mb-4">
    <h2 class="text-xl font-bold">Departments</h2>
    <button
      mat-raised-button
      color="primary"
      (click)="openAddDialog()"
      class="bg-indigo-600 text-white hover:bg-indigo-700"
    >
      Add Department
    </button>
  </div>

 <app-data-table
  [columns]="departmentColumns"
  [dataSource]="departments"
  (edit)="onEditDepartment($event)"
  (delete)="onDeleteDepartment($event)"
  [showView]="false"
  [showTitle]="'Departments'"
  >
</app-data-table>

</div>
