<div class="max-w-5xl mx-auto p-6 space-y-6">

  <!-- Header -->
  <mat-card class="p-6 flex flex-col md:flex-row gap-6 items-center">

    <img
      [src]="employee?.photo 
        ? 'http://localhost:5000/' + employee.photo 
        : 'assets/avatar.png'"
      class="w-32 h-32 rounded-full object-cover border-4 border-indigo-500"
    />

    <div class="flex-1">
      <h2 class="text-3xl font-bold">
        {{ employee?.firstName }} {{ employee?.lastName }}
      </h2>
      <p class="text-indigo-600 font-medium">
        {{ employee?.position }}
      </p>
      <p class="text-gray-500">
        {{ employee?.department?.name }} Department
      </p>
    </div>

    <button mat-raised-button color="primary"   routerLink="/user/settings">
      Edit Profile
    </button>

  </mat-card>

  <!-- Details -->
  <mat-card class="p-6">
    <h3 class="text-xl font-semibold mb-4">Personal Information</h3>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <p><strong>Employee ID:</strong> {{ employee?.empId }}</p>
      <p><strong>Email:</strong> {{ employee?.email }}</p>
      <p><strong>Phone:</strong> {{ employee?.phone }}</p>
      <p><strong>Joined:</strong> {{ employee?.hireDate | date }}</p>
    </div>
  </mat-card>

</div>
